a.float {float:left}
/*div.navbar-header {margin-top:5;}*/
ul {padding-left:0px;}

#search{line-height:12px;}

a.navbar-brand {padding-top:18px; padding-left:25px; padding-bottom:10px; padding-right:5px;}

.navbar-inverse .navbar-brand {color:#FFF;}

.navbar-inverse .navbar-nav>li>a {color:#D3D3D3;}

div.container-fluid{padding-left:5px ;padding-right: 5px;}

button.navbar-toggle{margin-top:12px; margin-bottom:12px;}



/*.nav.navbar-nav.navbar-right li a {*/
/*    color: #D3D3D3;*/
/*}*/
/*a.navbar-inverse {color:#D3D3D3;}*/

div.panel-body {padding-left:5px;}

div.form-data {padding-left:0px;}

div.show {padding:0px 15px;}

ul.pagination{padding:0px;margin:0px;}

#bs-example-navbar-collapse-1{padding-right:20px;}
                
/*body {line-height:0px;}*/

#photo {color: black;
     border: solid 1px #CCCCCC;
     padding: 6px;
     border-radius: 4px;
     cursor: pointer;
     }

p.p {margin-bottom :2px;}

div.panel.panel-default{margin-bottom:0px;}

div.row.show{margin-top:5px;}	

@media all and (max-width:375px) { 
    /*.spNone { display: none;}*/
    .usage{max-width:100%;width:375px; height: auto;}
    img.cat_image {width:375px;height:auto;}
    div.allmap {width:375px; height:375px;}
}
@media all and (max-width:667px) { 
    .usage{width:667px; height: auto;}
    img.cat_image {max-width:100%;width:667px;height:auto;}
    div.allmap {width:667px; height:667px;}
}
@media all and (min-width:668px) and ( max-width:1024px) {
    img.cat_image {width:auto; height:350px;}
    div.allmap {width:668px; height:668px;}
}
@media all and (min-width:1024px) {
    img.cat_image {width:auto; height:350px;}
    div.allmap {width:1024px; height:1024px;}
}




    /*html, body {*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*}*/