a.float {float:left}

ul {padding-left:0px;}

div.panel-body {padding-left:0px;}


label.photo {
     color: white;
     background-color: #666666;
     padding: 6px;
     border-radius: 3px;
     cursor: pointer;
    }
                    

@media all and (max-width:667px) { 
    img.cat_image {width:100%; height:auto;}
}
@media all and (min-width:768px) and ( max-width:1024px) {
    img.cat_image {width:auto; height:350px;}
}
@media all and (min-width:1024px) {
    img.cat_image {width:auto; height:350px;}
}